* {
    box-sizing: border-box;
    font-family: Space Grotesk;
}

html {
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-color: hsl(0, 100%, 100%);
    background-size: 25em;
    background-position: fixed;
    width: 120%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* border: 1px solid red; */
}

.flex {
    display: flex;
}

.cards {
    width: 90%;
    padding: 0 0em 0 0;
    margin: 0;
    
}

.left {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
    height: 100vh;
    padding-left: 10em;
    /* border: yellow 1px solid; */

    .front-card {
        position: relative;
        width: 78%;
        min-width: 22em;
        max-width: 25.6em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
        left: 0;
        box-shadow: 1px 12px 100px -20px hsla(278, 68%, 11%, 0.596);


        

        .front-atm {
            display: block;
            width: 100%;
            box-sizing: 1px 12px 100px -20px hsla(278, 68%, 11%, 0.596);

        }

    }
    
    .back-card {
        position: relative;
        width: 78%;
        min-width: 22em;
        max-width: 25.6em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.3em;
        margin-left: 3.9em;
        
        img {
            /* display: block; */
            box-shadow: 1px 12px 100px -20px hsla(278, 68%, 11%, 0.596);
            border: none;
            z-index: 0;
            width: 100%;
            border-radius: 1em;
        }
        
        span {
            position: absolute;
            display: flex;
            justify-content: right;
            align-items: center;
            width: 75%;
            color: hsl(270, 3%, 87%);
            letter-spacing: .1em;
            font-size: .8rem;
            padding-bottom: .4em;
        }

    }


}

.front-text {
    position: absolute;
    width: 100%;
    padding: 0 1.2em;
    margin: 0;

    .img-logo {
        margin-bottom: 2em;
        width: 21%;
    }

    #acct-number {
        font-size: 1.5rem;
        color: white;
        font-weight: lighter;
        letter-spacing: .076em;
        /* padding-bottom: 4em; */
    }

    div {
        color: white;
        letter-spacing: .1em;
        font-weight: lighter;
        font-size: .63rem;
        margin-top: 2.3em;
        width: 98%;
    }


}

.right {
    width: 70%;
    /* border: solid 1px blue; */
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
    /* font-size: 2rem; */
}

form {
    width: 40%;
    padding-bottom: 3em;
}

.name {
    display: flex;
    flex-direction: column;
    margin-bottom: .7em;
    

    label {
    color: hsl(278, 68%, 11%);
    font-size: .63rem;
    font-weight: bolder;
    letter-spacing: .11em;
    padding: 0 0 .6em 0;
    }

    input{
        width: 100%;
        font-size: 1rem;
        border: 1px solid hsl(270, 3%, 87%);
        border-radius: .5em;
        padding: .6em 1em;
    }
}

.number {
    display: flex;
    flex-direction: column;
            margin-bottom: .7em;


    label {
    color: hsl(278, 68%, 11%);
    font-size: .63rem;
    font-weight: bolder;
    letter-spacing: .11em;
    padding: 1.5em 0 .6em 0;
}

    input {
        width: 100%;
        font-size: 1rem;
        border: 1px solid hsl(270, 3%, 87%);
        border-radius: .5em;
        padding: .6em 1em;
    }
}

.others {
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: .8em;
    justify-content: space-between;
    align-items: center;
    
    .exp {
        width: 46%;

            label {
                color: hsl(278, 68%, 11%);
                font-size: .63rem;
                font-weight: bolder;
                letter-spacing: .11em;
            }

            div {
                /* margin-top: .5em; */
                width: 90%;
                justify-content: space-between;
                margin-top: .2em;

                /* margin-bottom: .7em; */

                .month, .year {
                    margin: 0;
                    width: 45%;
                    
                    .month-input, .year-input {
                        margin: 0;
                        padding: 1px;
                        border: none;
                        border-radius: .5em;
                        background: transparent;
                        position: relative;
                        width: 100%;

                        input {
                            width: 100%;
                            font-size: 1rem;
                            border: 1px solid hsl(270, 3%, 87%);
                            border-radius: .5em;
                            padding: .58em .8em;
                        }
                    }

                    .month-input:active, .year-input:active {
                        background: linear-gradient(-270deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
                        cursor: pointer;
                    }
                    .month-input input, .year-input input {
                        outline: none;
                    }
                }

            }
    }

    .cvc {
        width: 52%;
        display: flex;
        flex-direction: column;

        label {
            color: hsl(278, 68%, 11%);
            font-size: .63rem;
            font-weight: bolder;
            letter-spacing: .11em;
            margin-bottom: .6em;

        }


        input {
            width: 100%;
            font-size: 1rem;
            border: 1px solid hsl(270, 3%, 87%);
            border-radius: .5em;
            padding: .6em 1em;
        }
    }
}

button {
    width: 100%;
    margin-top: 2.2em;
    padding: .9em 0;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 100%, 100%);
    font-size: .9rem;
    letter-spacing: .03em;
    border: none;
    border-radius: .5em;
}

.completed {
    font-weight: lighter;
    letter-spacing: .07em;
    text-align: center;
    width: 35%;
    
    img {
        
        width: 5em;
    }

    h1 {
        color: hsl(278, 68%, 11%);
        font-size: 1.5rem;
    }

    p {
        color: hsl(212, 12%, 71%);
        font-size: .9rem;
    }

    button {
        width: 100%;
        font-size: .9rem;
    }
}

.hide {
    display: none;
}

/* Active States*/
#name-input:active, #card-number-input:active, #year-input:active, #month-input:active, #cvc-input:active {
    padding: .6em .6em;
    cursor: pointer;

}
#name-input:hover, #card-number-input:hover, #year-input:hover, #month-input:hover, #cvc-input:hover {
    cursor: pointer;
}


/* .input {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 1rem;
} */
    

.input {
      padding: 1px;
      border: none;
      border-radius: .5em;
      background: transparent;
      position: relative;
      width: 100%; 
}

.input:active { 
    background: linear-gradient(-270deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}



.input input {
    width: 100%;
    /* padding: em; */
    /* border: none; */
    border-radius: .5em;
    background: white;
    font-size: 1rem;
    outline: none;
}
